body {
  background: #5095E4;
}

td {
  text-align: center;
  padding-bottom: 0.5%;
  border: 0.5px solid black;
}
#events-wrapper {
    width: 100vw;
    height: 50vh;
}

th, td {
  border-top: none;
}

button {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

.event {
    border-radius: 5px;
    background-color: #aaccee;
    color: white;
    padding: 2px;
    margin: 1px;
    border: 1px solid #223344;
}

.num {
  border-left: none;
  border-top: 0.5px solid black;
}
