body {
  font-size: 25px;
  background: rgb(0,198,255);
  background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(105,226,255,1) 28%, rgba(0,212,255,1) 51%, rgba(110,195,255,1) 86%, rgba(97,185,235,1) 100%);
}

.container {
  width: calc(100vh - 15vw);
}

.col-xs-3 {
  width: 25%;
}

.col-xs-12 {
  width: 100%;
  background: inherit;
}

#calc {
  width: 98%;
  border-radius: 15px;
  height: 15vh;
  font-size: 40px;
  padding-right: 12px;
  text-align: right;
  background: inherit;
  border: none;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  transition: .5s;
}

#calc:focus {
  outline: none;
  box-shadow: none;
  transition: .5s;
}

.calc-button {
  background: inherit;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  transition: .5s;
}

.operation {
  background-color: rgba(255, 255, 255, 0.2);
}

.calc-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    transition: .5s;
    cursor: pointer;
}

.align-middle {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.center-all {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:disabled {
    color: #111111;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  #calc {
    font-size: 1.1em;
  }

}
