.container {
  width: calc(100vh - 10vw);
}

.col-xs-3 {
  width: 25%;
}

.col-xs-12 {
  border: 2px solid black;
}

.calc-button {
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 15px;
}

@keyframes hover-animation {
    0% {background-color: white;}
    100% {background-color: lightskyblue;}
}

.calc-button:hover {
    animation-name: hover-animation;
    animation-duration: 0.5s;
    animation-duration: normal;
}

.align-middle {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.center-all {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

}
