.container {
  width: calc(100vh - 10vw);
}

.col-xs-3 {
  width: 25%;
}

.col-xs-12 {
  width: 100%;
  align-items: middle;
}

#calc {
  border: 2px solid black;
  width: 98%;
  border-radius: 15px;
  height: 15vh;
}

.calc-button {
  background-color: transparent;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 15px;
  transition: .5s;
}

.calc-button:hover {
    background-color: lightskyblue;
    transition: .5s;
}

.align-middle {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.center-all {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

}
